{% extends "auctions/layout.html" %}

{% block body %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    <h2>Listing {{ listing.title }}</h2>
    {% if listing.closed %}
        <div class="alert alert-info" role="alert">
            This listing is no longer available!
        </div>
    {% endif %}

    <div>
        <img src="{{ listing.image.url }}" alt="image" style="width: 300px; height: auto">
    </div>
    <div>
        <p>{{ listing.description }}</p>
        <h4>Starting Bid: ${{ listing.starting_bid }}</h4>
        <h2>Current Bid: ${{ listing.current_price }}</h2>
        <h4>Details</h4>
        <p>Listed by: {{ listing.owner }}</p>
        <p>Category: {{ listing.category }}</p>
        
        <div>
            
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="bid">{{ listing.bids.count }} bid(s) so far.</label>
                  <p>
                      {% if listing.bids.last.user == user %}
                        You have the leading bid!
                      {% endif %}
                  </p>
                </div>
                {% if not listing.closed %}
                <div class="form-group">
                  {{ form.as_p }}
                </div>
                <div class="form-group">
                  <input type="submit" name="button" class="btn btn-primary" value="Place Bid">
                </div>
                {% endif %}
            </form>

            <h4>Bids</h4>
                {% for bid in listing.bids.all %}
                    <li>{{ bid }}</li>
                {% endfor %}
        </div>
    </div>
    <div>
        {% if user.username == listing.owner.username and not listing.closed %}
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="button" class="btn btn-danger" value="Close">Close</button>
        </form>
        {% endif %}

      </div>
      <div>
        <h4>Comments</h4>
        <a href="{% url 'comment' listing.id %}"><span class="badge badge-primary">Add a Comment!</span></a>
    
        {% for comment in listing.comments.all %}
          <div class="container m3-5 p-2 border">
            <p><strong>{{ comment.title }}</strong></p>
            <p class="mt-n2">{{ comment.comment }}</p>
            <p class="mt-n2">by: {{ comment.user.username }}</p>
            <p class="mt-n3"><small>{{ comment.time }}</small></p>
          </div>
        {% endfor %}
      </div>


{% endblock %}

